MechanicalArm/obj/x86/Debug/MechanicalArm.csproj.FileListAbsolute.txt
*.txt
*.csproj
ArmController/bin/Debug/ArmController.dll
*.pdb
ArmController/bin/Debug/ClientDLL.dll
*.pdb
ArmController/bin/Debug/Helpers.dll
*.pdb
*.pdb
ArmController/obj/Debug/ArmController.csprojResolveAssemblyReference.cache
*.txt